<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xsi:schemaLocation=" http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.1.xsd
       http://www.springframework.org/schema/jdbc
           http://www.springframework.org/schema/jdbc/spring-jdbc-3.1.xsd
    http://www.springframework.org/schema/data/jpa
    http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">

    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>

    <bean id="entityManagerFactory"
          class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="packagesToScan" value="com.locurasoft.samplemanager.domain"/>
        <property name="jpaProperties">
            <props>
                <prop key="hibernate.dialect">SQLITE</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.format_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">validate</prop>
                <prop key="hibernate.dialect">org.hibernate.dialect.SQLiteDialect</prop>
            </props>
        </property>
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
                <!--<property name="database" value="DERBY"/>-->
                <!--<property name="generateDdl" value="true"/>-->
            </bean>
        </property>
    </bean>

    <jpa:repositories base-package="com.locurasoft.samplemanager.dao" />

    <!--<jdbc:initialize-database data-source="dataSource">-->
        <!--<jdbc:script location="classpath:data.sql"/>-->
    <!--</jdbc:initialize-database>-->

    <!--<jdbc:embedded-database id="dataSource" type="DERBY" />-->

    <bean class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close" id="dataSource">
        <property name="driverClassName" value="org.sqlite.JDBC"/>
        <property name="url" value="jdbc:sqlite:samples.db" />
        <property name="initialSize" value="2" />
        <property name="maxActive" value="20" />
        <property name="maxIdle" value="5" />
        <property name="poolPreparedStatements" value="true" />
    </bean>

    <context:annotation-config/>

    <bean id="settings" class="com.locurasoft.samplemanager.domain.Settings">
        <property name="searchPaths">
            <list>
                <value>c:/Users/pasca/Documents/Ableton/Factory Packs</value>
            </list>
        </property>
        <property name="fileEndings">
            <list>
                <value>wav</value>
                <value>aif</value>
            </list>
        </property>
    </bean>

    <!--<bean id="sampleRepository" class="com.locurasoft.samplemanager.dao.MemorySampleRepositoryImpl"/>-->
    <bean id="categorySampleAnalyzer" class="com.locurasoft.samplemanager.domain.analyzer.CategorySampleAnalyzer"/>
    <bean id="sampleService" class="com.locurasoft.samplemanager.service.SampleService"/>
    <bean id="mainController" class="com.locurasoft.samplemanager.controller.MainController"/>

</beans>